$full-height: 100vh;
$full-width: 100%;
$height-galeria: 25rem;
$width-galeria: 34.375rem;

$transparent: transparent;
$verde-base: rgba(13, 44, 28, 0.973);

$f-family-var: 'Unica One', cursive;
$f-family-base: 'Arima Madurai', cursive;
$f-family-var2: 'Sarabun', sans-serif;
$f-family-var3: 'Philosopher', sans-serif;
$f-family-var4: 'Crimson Pro', serif;
$f-family-var5: 'Pompiere', cursive;
$f-family-var6: 'Enyo-Slab_Light';
$f-bold: bold;
$f-s-lg: 60px;
$f-s-md: 40px;
$f-s-sm: 20px;